# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DDEV PostgreSQL configuration
# Connection string for DDEV's PostgreSQL database
# Format: postgresql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL="postgresql://db:db@db:5432/db"

# Email Configuration
# Desarrollo local con Mailpit (DDEV)
# EMAIL_HOST="localhost"
# EMAIL_PORT="1025"
# EMAIL_SECURE="false"
# EMAIL_USER=""
# EMAIL_PASSWORD=""
# EMAIL_FROM="Amigo Invisible <no-reply@test.com>"

# NextAuth Configuration
AUTH_SECRET="OZtImi3agycbOe42sjVuAWS3rHk3WYUmdLZu9FNKYz4="
AUTH_URL="https://reyes.ddev.site"
NEXTAUTH_SECRET="OZtImi3agycbOe42sjVuAWS3rHk3WYUmdLZu9FNKYz4="
NEXTAUTH_URL="https://reyes.ddev.site"
